.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 35%;
  width: 30%;
  height: 50%;
  border-radius: 10%;
  margin-top: 50px;
  padding: 20px;
  background-color: lightgray;
}

.header {
  /* display: flex; */
  padding-top: 20px;
  border-radius: 20%;
  align-content: center;
  text-align: center;

  background-color: rgb(228, 154, 111);
}

.navbar {
  width: auto;
}

.questions {
  margin-top: 10%;
  margin-left: 15%;
  width: 70%;
}

.question-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.poll-container {
  margin-top: 10%;
}
